{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    <form method="post" action="{% url 'create_listings' %}">
        {% csrf_token %}
        Title
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        Description
        <div class="form-group">
            <textarea autofocus class="form-control" type="text" name="description" placeholder="Description"></textarea>
        </div>
        Price
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="price" placeholder="Price">
        </div>
        Image
        <div class="form-group">
            <input autofocus class="form-control" type="url" name="image" placeholder="Image">
        </div>
        Category
        <div class="form-group">
            <select name="category" id="">
                {% for category in all_catergorys %}
                    <option>{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="list item">
    </form>
{% endblock %}