{% extends "auctions/layout.html" %}

{% block body %}
    {% if request.user.is_authenticated %}
        {% if watchlist %}
        <form method="POST" action="{% url 'remove' id=listing.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from watchist</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'add' id=listing.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add to watchlist</button>
        </form>
        {% endif %}
    {% endif %}

    <h2>Listing: {{listing.title}}</h2>

    <div style="border-style: solid;">
        <img src="{{ listing.image }}", alt="No Image" height="400px">
        <h4>Description:<h4>
        <p>{{ listing.description }}<p>
        <p>Owner: {{listing.owner}}</p>
        <h4>Price:$ {{ listing.price }}</h4>
    </div>

    {% if request.user.is_authenticated %}
        <div class="comment" style="margin: 5px;">
            <form action="{% url 'comment' id=listing.id %}", method="POST">
                {% csrf_token %}
                <label>Comment: </label>
                <input type="text" name="comment" placeholder="Add comment" autocomplete="off">
                <input type="submit" value="post">
            </form>
        </div>
        <form action="{% url 'bid' id=listing.id %}", method="POST">
            {% csrf_token %}
            <label>Bid: </label>
            <input type="text" name="bid" placeholder="place bid" autocomplete="off">
            <input type="submit" value="bid">
        </form>
    {%endif%}
    Comments:
    <div style="border: solid; padding: 5px;">
    {% for comment in comments %}
        <div style="border: solid; padding: 5px; margin: 5px;">
            <p>Author: {{ comment.author.username }}</p>
            <p>{{ comment.message }}</p>
        </div>
    {% empty %}
        <p>No comments</p>
    {% endfor %}
    </div>
{% endblock %}