{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form method="post" action="{% url 'new_page' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="Enter title here" name="title">
          </div>
          <div class="mb-3">
            <label class="form-label">Wiki Entry</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
          </div>
          <input type="submit" value="save">
    </form>
{% endblock %}